<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/user/entry" method="post">
        <label for="1">Username</label>
        <input type="email" name="nm" placeholder="Enter your gmail" id="1" required>
        <label for="2" >Password</label>
        <input type="password" name="pw" id="2" placeholder="Enter new password" required>
        <label for="3">Choose a Role:</label>
        <select name="rl" id="3" required>
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
            <option value="OTHER">OTHERS</option>
        </select>

        <input type="checkbox" name="verify" id="4">
        <button type="s">Proceed!</button>
    </div>
    </form>
</body>

</html>